[Unit]
Description=Tailscale node agent (%i tailnet, routed netns)
Documentation=https://tailscale.com/docs/
Wants=network-pre.target
After=network-pre.target tailnet-multi-netns@%i.service
Requires=tailnet-multi-netns@%i.service

[Service]
EnvironmentFile=/etc/tailnet-multi/%i.env
NetworkNamespacePath=/run/netns/tsm-%i
BindReadOnlyPaths=/etc/netns/tsm-%i/resolv.conf:/etc/resolv.conf
ExecStartPre=-/usr/sbin/modprobe tun
ExecStart=/usr/sbin/tailscaled --state=/var/lib/tailscale-%i/tailscaled.state --socket=/run/tailscale-%i/tailscaled.sock --port=${PORT}
Restart=on-failure
RuntimeDirectory=tailscale-%i
RuntimeDirectoryMode=0755
StateDirectory=tailscale-%i
StateDirectoryMode=0700
CacheDirectory=tailscale-%i
CacheDirectoryMode=0750
Type=notify

[Install]
WantedBy=multi-user.target
